.sku {
  position relative
  .sku-row {
    margin-bottom 3px
    .sku-row-items, .sku-title {
      
      // display inline
      ul {
        display inherit
        margin 0
        padding 0
      }
      .sku-row-item {
        border none
        background-color #f8f8f8
        color #282828
      }
      .sku-row-item:visited {
        background-color #f8f8f8
      }
      .sku-row-item-active{
        color #FFFFFF
        background-color #6495FE
      }
      .sku-row-item-disabled{
        color #989898
      }
    }
  }
}