// $red = #0f4511
$blue = #307DDF
$green = #50B33D
$orange = #F6AF56
$bdGrey = #E0E0E0
$bgGrey = #F0F0F0
$textGrey = #B3B3B3

$primary = #0f4511 //主色 f85838
$primary-start = #0f4511
$primary-end = #F85838



$gray = #888
$light-gray = #666
$dark-gray = #282828
$red = #0f4511
$dark-red = #0f4511
$bg-color = #F5F5F5
$border-color = #e0e0e0
$black = #222
$white = #fff

.red {
  color: $primary-start 
  //$red
}

.dark-red {
	color: $dark-red
}

.white {
  color: $fff
}

.href-class:hover {
  color: $primary-start !important
}

flexCenter(align = center, type = row)
  display flex
  align-items align
  flex-direction type

backImg(img)
  background url(img) no-repeat center center
  background-size cover

wh(w, h)
  width w
  height h




